*{
    padding: 0px;
    margin: 0px;
}

body{
    overflow-x: hidden;
}
#back{
    background-image:url(../image/banner.jpg) ;
    width:100%;
    height: 700px;
}
#cover{
    background-color: black;
    width: 100%;
    height: 700px;
    position: relative;
    opacity: 0.7;
}
#D1e{
    position: relative;
    bottom: 650px;
}
#D1e>img{
    position: absolute;
    width: 150px;
    left: 90px;
}
#D1e>select{
    position: absolute;
    left: 1100px;
    padding: 10px;
    background-color:transparent;
    color: white;
}
#D1e>button{
    position: absolute;
    left: 1200px;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
}
#D2e{
    position: relative;
    bottom: 510px;
}
#D2e>h1{position: absolute;
    color: white;
    text-align: center;
    left: 460px;
    font-size: 50px;
    
    }
#D2e>h6{
    position: absolute;
    color: white;
    top: 130px;
    font-size: 20px;
    left: 540px;
}
#D2e>p{
    position: absolute;
    top: 170px;
    font-size: 20px;
    color: white;
    left: 470px;
    text-align: center;
}
#D2e1{
    position: relative;
    top: 300px;
}
#D2e1>input{
    position: absolute;
    padding: 10px;
    border:1px solid gray;
    bottom: 10px;
    width:300px;
    background-color: transparent;
    left: 450px;
}
#D2e1>button{
    position: absolute;
    left: 800px;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 7px;
    width: 150px;
    bottom: 10px;
}

#border{
    border-top: 10px solid red;
    border-top-left-radius: 50% 100%;
    border-top-Right-radius: 50% 100%;
}
#bg{
    background: rgb(51,51,77);
background: linear-gradient(41deg, rgb(27, 27, 54) 0%, rgba(0,0,0,1) 100%);
min-height: 800px;
position: relative;
}
#tren{
    position: absolute;
    left: 50px;
    color: white;
}
#tren>select{
    padding: 10px;
    border-radius: 7px;
    background-color: transparent;
    position: absolute;
    top: 50px;
    color: white;
    border: 1px solid white;
}
#select{
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    position: absolute;
    top: 50px;
    left: 90px;
    color: white;
    border: 1px solid white;
}
#E2>h1{
    position: absolute;
    bottom: 600px;
    left: 50px;
    color: white;

}
#E3{
    position: relative;
    top: 120px;
}
#box1{
    background: rgb(83,84,124);
background: linear-gradient(121deg, rgba(83,84,124,1) 30%, rgba(122,53,53,1) 100%);
width: 250px;
height: 200px;
position: absolute;
top: 70px;
border-radius: 7px;
padding: 20px;
left: 40px;
display: inline-block;
margin: 10px;
}
#box1>p{
    position: absolute;
    top: 80px;
}
#box1>img{
    position: absolute;
    top: 150px;
    left: 200px;
}
#box1>h1{
    font-size: 27px;
}
#box2{
    background: rgb(83,84,124);
background: linear-gradient(121deg, rgba(83,84,124,1) 30%, rgba(122,53,53,1) 100%);
width: 250px;
height: 200px;
position: absolute;
top: 70px;
border-radius: 7px;
padding: 20px;
left: 350px;
display: inline-block;
margin: 10px;
}
#box2>h1{
font-size: 27px;
}
#box2>img{
    position: absolute;
    left: 190px;
    bottom: 20px;
}
#box3{
    background: rgb(83,84,124);
background: linear-gradient(121deg, rgba(83,84,124,1) 30%, rgba(122,53,53,1) 100%);
width: 250px;
height: 200px;
position: absolute;
top: 70px;
border-radius: 7px;
padding: 20px;
left: 670px;
display: inline-block;
margin: 10px;
}
#box3>h1{
    font-size: 27px;
}
#box3>img{
    position: absolute;
    left: 200px;
    top: 150px;
}
#box3>p{
    position: absolute;
    top: 70px;
}
#box4{
    background: rgb(83,84,124);
background: linear-gradient(121deg, rgba(83,84,124,1) 30%, rgba(122,53,53,1) 100%);
width: 250px;
height: 200px;
position: absolute;
top: 70px;
border-radius: 7px;
padding: 20px;
left: 1000px;
display: inline-block;
margin: 10px;
}
#box4>h1{
    font-size: 27px;
}
#box4>img{
    position: absolute;
    left: 200px;
    top: 150px;
}
#box4>p{
    position: absolute;
    top: 90px;
}


@media all and (max-width:500px) {
    #D1e>img{
        position: absolute;
        width: 10 0px;
        left: 20px;
    }
    #D1e>select{
        position: absolute;
        left: 200px;
        padding: 10px;
        background-color:transparent;
        color: white;
        width: 80px;
    }
    #D1e>button{
        position: absolute;
        left: 300px;
        background-color: red;
        padding: 10px;
        border-radius: 5px;
        border: none;
        color: white;
    }
#D2e>h1{position: absolute;
    color: white;
    text-align: center;
    left: 90px;
    font-size: 25px;
    bottom: 5px;
    }
#D2e>h6{
    position: absolute;
    color: white;
    font-size: 17px;
    left: 75px;
    bottom: 80px;
    top: 10px;
}
#D2e>p{
    position: absolute;
    top: 50px;
    font-size: 16px;
    color: white;
    left: 35px;
    text-align: center;
}
#D2e1>input{
    position: absolute;
    padding: 10px;
    border:1px solid gray;
    bottom: 150px;
    width:170px;
    background-color: transparent;
    left: 50px;
}
#D2e1>button{
    position: absolute;
    left: 250px;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 7px;
    width: 100px;
    bottom: 150px;
}
#bg{
    background: rgb(51,51,77);
background: linear-gradient(41deg, rgb(27, 27, 54) 0%, rgba(0,0,0,1) 100%);
min-height: 1500px;
position: relative;
}
#E2>h1{
    position: absolute;
    bottom: 1300px;
    left: 20px;
    font-size: 27px;
    color: white;
}
#E3{
    position: relative;
    top: 180px;
}
#box1{
    background: rgb(83,84,124);
background: linear-gradient(121deg, rgba(83,84,124,1) 30%, rgba(122,53,53,1) 100%);
width: 250px;
height: 200px;
position: relative;
top: 50px;
border-radius: 7px;
padding: 20px;
left: 30px;
display: inline-block;
margin: 10px;
}
#box2{
    background: rgb(83,84,124);
background: linear-gradient(121deg, rgba(83,84,124,1) 30%, rgba(122,53,53,1) 100%);
width: 250px;
height: 200px;
position: absolute;
top: 300px;
border-radius: 7px;
padding: 20px;
left: 30px;
display: inline-block;
margin: 10px;
}
#box2>h1{
font-size: 27px;
}
#box2>img{
    position: absolute;
    left: 190px;
}
#box3{
    background: rgb(83,84,124);
background: linear-gradient(121deg, rgba(83,84,124,1) 30%, rgba(122,53,53,1) 100%);
width: 250px;
height: 200px;
position: absolute;
top: 550px;
border-radius: 7px;
padding: 20px;
left: 30px;
display: inline-block;
margin: 10px;
}
#box3>h1{
    font-size: 27px;
}
#box3>img{
    position: absolute;
    left: 200px;
    top: 150px;
}
#box3>p{
    position: absolute;
    top: 70px;
}
#box4{
    background: rgb(83,84,124);
background: linear-gradient(121deg, rgba(83,84,124,1) 30%, rgba(122,53,53,1) 100%);
width: 250px;
height: 200px;
position: absolute;
top: 800px;
border-radius: 7px;
padding: 20px;
left: 30px;
display: inline-block;
margin: 10px;
}
#box4>h1{
    font-size: 27px;
}
#box4>img{
    position: absolute;
    left: 200px;
    top: 150px;
}
#box4>p{
    position: absolute;
    top: 90px;
}
}
@media all and (min-width:500px) {
    
}
